<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
         <div>
            <p>Built with <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>,
        <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
        <a href="http://nodejs.org/">Node.js</a>,
        <a href="http://expressjs.com/">Express</a>,
        and <a href="http://www.mongodb.org/">MongoDB</a> by
        <a href="http://nicklewis.net" target="_blank">Nick Lewis</a>. Hosted on <a href="http://www.heroku.com">Heroku</a>
        <br/>
        The source code for this application is available in <a href="http://github.com/nickeblewis/nicklewis-net" target="_blank">this repository</a> on GitHub.</p>
         </div>
      </div>
      <div class="span4 offset2">
         <div class="socials">
            
            <a href="http://www.facebook.com/nickeblewis" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://twitter.com/nicklewis" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://uk.linkedin.com/in/nicklewis" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="http://gplus.to/nickeblewis" target="_blank"><i class="icon-google-plus"></i></a>
         </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>